{% extends 'base.html' %}

{% block title %}Who likes what{% endblock %}

{% block content %}
<table class="food-table table table-bordered table-sm text-center">
    <thead>
    <tr>
        <th>Country</th>
        <th>Income</th>
        <th>Happiness</th>
        <th>Food</th>
    </tr>
    </thead>
    <tbody>
    {% for item in data %}
    <tr>
        <td>{{ item['country'] }}</td>
        <td>{{ item['gdp'] }}</td>
        <td>{{ item['happiness'] }}</td>
        <td>
            {% for food in item['food'][1:] %}
                {{ food }} <br>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
