{% extends 'base.html' %}

{% block title %}Welcome to the food server{% endblock %}

{% block content %}
<p> To see favourite food by country, please click on <a href="{{ url_for('food_by_country') }}">this</a> link</p>
{% endblock %}