{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="align-items-center" style="margin-top: 25%">
<form method="POST" action="/login">
    <div class="form-group row d-flex justify-content-center">
        <label for="username" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-5">
            <input type="text" name="username" placeholder="Username" value="" class="form-control" id="username">
        </div>
    </div>

    <div class="form-group row d-flex justify-content-center">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-5">
            <input type="password" name="password" placeholder="Password" value="" class="form-control" id="password">
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Log In</button>
    </div>
</form>
</div>
{% endblock %}